<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheThechWay - {% block title %}{% endblock title %}</title>

  <link rel="icon" href="icon_path" type="image/icon type"> 
  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
<h1>Message Board</h1>
{% include("_navigation.html") %}
<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</body>
</html>